.btn.btn-success{
  color: #fff;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.btn.btn-success:hover{
  color: #fff;
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
}